<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DoceleOLSOAP" maxReceivedMessageSize="2147483647">
                    <security mode="Transport" />
                </binding>
                <binding name="DoceleOLSOAP1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://caoba.docele.cl/cl-dol/DoceleOLService"
                binding="basicHttpBinding" bindingConfiguration="DoceleOLSOAP"
                contract="facele.DoceleOL" name="DoceleOLService" />
        </client>
    </system.serviceModel>
</configuration>